In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_rows',None)

In [3]:
df = pd.read_csv('Remittance Recieved compared to thier GDP(1960-2020).csv')
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,NaN,NaN
1,Africa Eastern and Southern,AFE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [4]:
df.shape

(266, 63)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 63 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  266 non-null    object
 1   Country Code  266 non-null    object
 2   1960          0 non-null      float64
 3   1961          0 non-null      float64
 4   1962          0 non-null      float64
 5   1963          0 non-null      float64
 6   1964          0 non-null      float64
 7   1965          0 non-null      float64
 8   1966          0 non-null      float64
 9   1967          0 non-null      float64
 10  1968          0 non-null      float64
 11  1969          0 non-null      float64
 12  1970          10 non-null     float64
 13  1971          13 non-null     float64
 14  1972          15 non-null     float64
 15  1973          15 non-null     float64
 16  1974          27 non-null     float64
 17  1975          52 non-null     float64
 18  1976          66 non-null     float64
 19  1977          94 non-null     float64
 20  1978          100 non-null    float64
 21  1979          116 non-null    float64
 22  1980          118 non-null    float64
 23  1981          121 non-null    float64
 24  1982          129 non-null    float64
 25  1983          135 non-null    float64
 26  1984          134 non-null    float64
 27  1985          134 non-null    float64
 28  1986          139 non-null    float64
 29  1987          139 non-null    float64
 30  1988          138 non-null    float64
 31  1989          140 non-null    float64
 32  1990          141 non-null    float64
 33  1991          150 non-null    float64
 34  1992          156 non-null    float64
 35  1993          162 non-null    float64
 36  1994          171 non-null    float64
 37  1995          182 non-null    float64
 38  1996          187 non-null    float64
 39  1997          185 non-null    float64
 40  1998          191 non-null    float64
 41  1999          192 non-null    float64
 42  2000          193 non-null    float64
 43  2001          197 non-null    float64
 44  2002          200 non-null    float64
 45  2003          203 non-null    float64
 46  2004          206 non-null    float64
 47  2005          233 non-null    float64
 48  2006          235 non-null    float64
 49  2007          235 non-null    float64
 50  2008          235 non-null    float64
 51  2009          236 non-null    float64
 52  2010          238 non-null    float64
 53  2011          240 non-null    float64
 54  2012          239 non-null    float64
 55  2013          240 non-null    float64
 56  2014          240 non-null    float64
 57  2015          239 non-null    float64
 58  2016          238 non-null    float64
 59  2017          236 non-null    float64
 60  2018          236 non-null    float64
 61  2019          233 non-null    float64
 62  2020          219 non-null    float64
dtypes: float64(61), object(2)
memory usage: 131.0+ KB

• Data is from 1960 to 2020.

In [6]:
df.isna().sum()

Country Name      0
Country Code      0
1960            266
1961            266
1962            266
1963            266
1964            266
1965            266
1966            266
1967            266
1968            266
1969            266
1970            256
1971            253
1972            251
1973            251
1974            239
1975            214
1976            200
1977            172
1978            166
1979            150
1980            148
1981            145
1982            137
1983            131
1984            132
1985            132
1986            127
1987            127
1988            128
1989            126
1990            125
1991            116
1992            110
1993            104
1994             95
1995             84
1996             79
1997             81
1998             75
1999             74
2000             73
2001             69
2002             66
2003             63
2004             60
2005             33
2006             31
2007             31
2008             31
2009             30
2010             28
2011             26
2012             27
2013             26
2014             26
2015             27
2016             28
2017             30
2018             30
2019             33
2020             47
dtype: int64

In [8]:
rows_with_nan = df[df.isnull().all(axis=1)]

In [9]:
rows_with_nan

Empty DataFrame
Columns: [Country Name, Country Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
Index: []

[0 rows x 63 columns]


• Replace null values with 0

In [7]:
df = df.fillna(value=0)
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [8]:
df.isna().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
1963            0
1964            0
1965            0
1966            0
1967            0
1968            0
1969            0
1970            0
1971            0
1972            0
1973            0
1974            0
1975            0
1976            0
1977            0
1978            0
1979            0
1980            0
1981            0
1982            0
1983            0
1984            0
1985            0
1986            0
1987            0
1988            0
1989            0
1990            0
1991            0
1992            0
1993            0
1994            0
1995            0
1996            0
1997            0
1998            0
1999            0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
2011            0
2012            0
2013            0
2014            0
2015            0
2016            0
2017            0
2018            0
2019            0
2020            0
dtype: int64

In [9]:
df.shape

(266, 63)

In [10]:
df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

* Transpose rows and columns

In [11]:
df1 = df.rename(columns = {'Country Name':''})
df1.head()

,,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,0.000000,0.000000
1,Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
2,Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
3,Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
4,Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [12]:
df2 = df1.set_index('')
df2.head()

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,0.000000,0.000000
Africa Eastern and Southern,AFE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
Afghanistan,AFG,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
Africa Western and Central,AFW,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
Angola,AGO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [13]:
df3 = df2.drop(columns='Country Code')
df3.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
,,,,,,,,,,,,,,,,,,,,,
Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.208151,0.191757,0.232342,0.267489,0.272831,1.765716,1.815412,1.152971,0.000000,0.000000
Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.054451,1.048611,1.020787,1.108823,1.230165,1.078138,1.057523,1.343354,1.430722,1.446989
Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.006030,1.096993,1.688459,1.236853,1.751257,3.483847,4.360011,4.378074,4.295098,3.983008
Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.195243,3.862473,3.475599,3.432498,4.121103,4.127791,4.714921,4.769225,4.477959,3.723543
Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000183,0.031510,0.026799,0.021255,0.009566,0.003944,0.001161,0.001558,0.003853,0.012925

In [14]:
df4 = df3.transpose()
df4.head()

,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
df4.reset_index(inplace=True)
df4.head()

,index,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
df5 = df4.rename(columns = {'index':'Year'})
df5.head()

,Year,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
0,1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df6 = df5.set_index('Year')
df6.head()

,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1960,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1961,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1962,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1963,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1964,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

* Remove counties that do not have any data across all 4 datasets

In [18]:
rows_with_nan = df6[df6.isnull().all(axis=1)]

In [19]:
rows_with_nan

Empty DataFrame
Columns: [Aruba, Africa Eastern and Southern, Afghanistan, Africa Western and Central, Angola, Albania, Andorra, Arab World, United Arab Emirates, Argentina, Armenia, American Samoa, Antigua and Barbuda, Australia, Austria, Azerbaijan, Burundi, Belgium, Benin, Burkina Faso, Bangladesh, Bulgaria, Bahrain, Bahamas, The, Bosnia and Herzegovina, Belarus, Belize, Bermuda, Bolivia, Brazil, Barbados, Brunei Darussalam, Bhutan, Botswana, Central African Republic, Canada, Central Europe and the Baltics, Switzerland, Channel Islands, Chile, China, Cote d'Ivoire, Cameroon, Congo, Dem. Rep., Congo, Rep., Colombia, Comoros, Cabo Verde, Costa Rica, Caribbean small states, Cuba, Curacao, Cayman Islands, Cyprus, Czech Republic, Germany, Djibouti, Dominica, Denmark, Dominican Republic, Algeria, East Asia & Pacific (excluding high income), Early-demographic dividend, East Asia & Pacific, Europe & Central Asia (excluding high income), Europe & Central Asia, Ecuador, Egypt, Arab Rep., Euro area, Eritrea, Spain, Estonia, Ethiopia, European Union, Fragile and conflict affected situations, Finland, Fiji, France, Faroe Islands, Micronesia, Fed. Sts., Gabon, United Kingdom, Georgia, Ghana, Gibraltar, Guinea, Gambia, The, Guinea-Bissau, Equatorial Guinea, Greece, Grenada, Greenland, Guatemala, Guam, Guyana, High income, Hong Kong SAR, China, Honduras, Heavily indebted poor countries (HIPC), Croatia, ...]
Index: []

[0 rows x 266 columns]